    <div class="container">
      <div class="row shadowedborder" style="width: 300px; margin-bottom: 30px;" >
          <img class="col-md-4  boarderless " [src]="user.img"   style="width: 60px; height: 60px;"/>
          <div class="col-md-5">
            <h6>{{username}}</h6>
            <small class="text-muted">{{user.gender}}</small>
          </div>
      </div>
    </div>
<div class="container">
  <div class="card boarderless">
    <div class="container">
      <div class="row">
        <img class=" boarderless" [src]="icons.thisThat"
          style="float: left; width: 40px; height: 40px;margin-right: 5px;" />
        <h3 class="pinktext align-middle">This That Analytics</h3>
      </div>
    </div>
  </div>
  <div class="card boarderless">
    <div class="container">
      <div class="row">
        <div class="align-top menuicon">
          <img [src]="icons.dashboard" />
          <p style="text-align: center;"><small>Dashboard</small> </p>
        </div>
        <div class="align-top menuicon">
          <img [src]="icons.managePoll" />
          <p style="text-align: center;"><small>Manage Polls</small> </p>
        </div>
        <div class="align-top menuicon">
          <img [src]="icons.createPoll" />
          <p style="text-align: center;"><small>Create Poll</small> </p>
        </div>
        <div class="align-top menuicon">
          <img [src]="icons.publishAndPromote" />
          <p style="text-align: center;"><small>Publish and Promote</small> </p>
        </div>
        <div class="align-top menuicon">
          <img [src]="icons.tT" />
          <p style="text-align: center;"><small>This That Messages</small> </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card pink shadowedborder">
    <div class="container">
      <div class="row">
        <div class="card col-md-4 pink boarderless" style="margin-top: 30px;">
          <div class="card left-image boarderless ">
            <div class="card-header boarderless " style="text-align: center; background-color: white;">
              <span class="badge badge-pill badge-light shadowedborder">Gold rims on the GT3 RS?</span>
              <span class="badge badge-pill shadowedborder">This</span>
            </div>
            <img class="img-thumbnail boarderless" [src]="thisthats.imgUrl" />
            <div class="card-footer boarderless" style="text-align: center; background-color: white;">
              <button (click)="onThisThatClicked(true)" class="btn btn-light shadowedborder fontbold">Love them</button>
              <button (click)="onThisThatClicked(false)" class="btn btn-light shadowedborder fontbold">Not a fan</button>
            </div>
          </div>
          <div class="card left-comment pink boarderless">
            <div class="card shadowedborder" style=" width: 200px;">
              comments {{thisthats.comments.length}}
            </div>
            <div *ngFor="let cmt of thisthats.comments">
              <div class="container">
                <div class="row">
                  <div class="card shadowedborder col-md-9">
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-4">
                          <img [src]="cmt.user.img" style="width: 30px; height: 30px;border-radius: 50%;" />
                        </div>
                        <div class="col-sm-8">
                          {{cmt.user.name}}
                        </div>
                      </div>
                    </div>
                    <div>
                      {{cmt.content}}
                    </div>
                  </div>
                  <div class="col-md-2">
                      <button  class="btn btn-light" style="border-radius:50%; display: inline;
                      margin: 5px;
                      position: relative;">
                          <span class="badge badge-light" style="  z-index: 1;
                          position: absolute;
                          right: 0;
                          bottom: 0;
                          margin-bottom: 24px;
                          background-color: #d9534f;">{{0}}</span>
                        <img [src]="icons.message" />
                      </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card col-md-8 pink boarderless">
          <div class="card-body">
            <div class="card right-header shadowedborder">
              <div class="card-body">
                <div class="container">
                  <div class="row">
                    <div class="card col-md-6 boarderless">
                      <div class="card-boyd">
                        <h5>"This" votes: {{thisthats.This}}</h5>
                        <h1 style="color: #FD659E;">72.3%</h1>
                      </div>
                    </div>
                    <div class="card col-md-6 boarderless">
                      <div class="card-boyd">
                        <h5> "That" votes: {{thisthats.That}}</h5>
                        <h1>27.7%</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card right-content boarderless pink">
              <div class="card-body ">
                <div class="container">
                  <div class="row">
                    <div class="card col-md-6 boarderless pink">
                      <div class="card shadowedborder">
                        <div class="container">
                          <div class="row ">
                            <div class="col-md-4 ">
                              <img class="  boarderless " [src]="icons.tick"
                                style="width: 40px; margin-left: 10px; margin-top: 20px;" />
                            </div>
                            <div class="col-md-8">
                              <small> votes<h3>{{thisthats.votes}}</h3></small>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card shadowedborder">
                        <div class="container">
                          <div class="row ">
                            <div class="col-md-4 ">
                              <img class="  boarderless " [src]="icons.total"
                                style="width: 40px; margin-left: 10px; margin-top: 20px;" />
                            </div>
                            <div class="col-md-8">
                              <small> total reach in the past 7 days</small>
                              <h3>6015</h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card shadowedborder">
                        <div class="container">
                          <div class="row ">
                            <div class="col-md-4 ">
                              <img class="  boarderless " [src]="icons.gender"
                                style="width: 40px; margin-left: 10px; margin-top: 20px;" />
                            </div>
                            <div class="col-md-8">
                              <small>Audience gender</small>
                              <h3>{{male}}:{{female}}</h3>
                              <small class="text-muted">male female</small>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card col-md-6 pink boarderless ">
                      <div class="card boarderless pink">
                        <div class="container">
                          <div class="row">
                            <div class="card  col-md-5 col-sm-5 col-xs-5  shadowedborder ">
                              <img class=" boarderless " [src]="icons.tT" style="width: 60px; margin-left: 30px;" />
                            </div>
                            <div class="card  col-md-5 col-sm-5 col-xs-5  shadowedborder">
                              <div class="container">
                                <div class="row">
                                  <img class=" boarderless " [src]="icons.thread"
                                    style="width: 20px; margin-left: 10px;" />
                                  <h6 style="margin-left: 20px;">Thread</h6>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card shadowedborder">
                        <div class="container">
                          <div class="row ">
                            <div class="col-md-4 ">
                              <img class="  boarderless " [src]="icons.like"
                                style="width: 40px; margin-left: 10px; margin-top: 20px;" />
                            </div>
                            <div class="col-md-8">
                              <p>likes:</p>
                              <h3>{{thisthats.likes}}</h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card shadowedborder">
                        <div class="container">
                          <div class="row ">
                            <div class="col-md-4 ">
                              <img class="  boarderless " [src]="icons.share"
                                style="width: 40px; margin-left: 10px; margin-top: 20px;" />
                            </div>
                            <div class="col-md-8">
                              Number of "shares" <h3>{{thisthats.shares}}</h3><small class="text-muted">copied links and
                                shares</small>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card right-chart">
              <div class="card-body">
                <app-mainchart [male]="dataMale" [female]="dataFemale"></app-mainchart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>